.mainNavbarDiv{
    display:flex;
    justify-content: center;
    margin:20px 0px 0px 0px;
    padding:0px;
    background-color: transparent;
}
.nameDiv{    
    width:40%;
    height:150px;
}
.name{
    color:white;
    font-family:'Cuprum';
    font-size:50px;    
}
.mainNavbarImgDiv{
    height:150px;
}
.mainNavbarImg{
    border:solid white 3px;
    border-radius: 250px;
    height:150px;
}